:root {
    --primary-color: #fdac15;
    --dark-theme: #323232;
    --background-color: #fffefd;
}

.manage2 {
    width: 90%;
    display: flex;
    align-items: center;
    gap: 4rem;
    margin-left: 10%;

}

.jonh-doe-container {
    display: flex;
    justify-content: space-between;
}

.manage-jon {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 50%;
}

.jon-doe > p > span {
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
} 

.date- {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

.review {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #898989;
    border: none;
    background: none;
}

.review:hover {
    cursor: pointer;
}

.detail-section {
   display: flex;
    flex-direction: column;
    gap: 3rem; 
}

.detail {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.detail-container {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.edit {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: center; */
    gap: 2rem;
    color: #898989;
}

.details-icon {
    color: #323232;
    font-size: 20px;

}

.edit > .link-style {
    display: flex;
    border: none;
    gap: 15px;
    background: none;
    text-align: start;
    align-items: center;
    justify-content: space-between;
}

.edit > .link-style:hover {
    cursor: pointer;
}

.edit-icons {
    font-family: IBM Plex Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;      
}

.edit > .link-style > p {
    display: flex;
    text-align: start;
    align-items: flex-start;
    width: 20rem;
}

/* responsiveness */

@media screen and (max-width: 768px) {
    .manage2 {
        flex-direction: column;
        gap: 1rem;
        margin-left: 0;
        width: 95%;
        margin: 0 auto;
        margin-top: 5%;
    }

    .jonh-doe-container {
        gap: 2rem;
    }

    .manage-jon {
        width: 100%;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
        border-radius: 10px;
        padding: 2rem;
        border: 1px solid #E5E5E5;
    }

    .detail-section {
        gap: 2rem;
    }

    .edit {
        gap: 1rem;
    }
}