:root {
  --primary-color: #fdac15;
  --dark-theme: #323232;
  --background-color: #fffefd;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.dashboard-container {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  gap: 4rem;
  height: 100vh;
  width: 100vw;
}

.user,
.details-container {
  display: flex;
  /* flex-direction: column; */
  gap: 3rem;
  margin-top: 0.5rem;
  justify-content: center;
  align-items: center;
}

.details-container {
  flex-direction: column;
  gap: 1rem;
}

.user-info,
.user-number {
  min-width: 18rem;
  display: flex;
  justify-content: space-between;
}

.user-info h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
}

.user-info p {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
}

.user-number p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.gra {
  display: flex;
  gap: 1rem;
}

.graph-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: auto;
  align-items: center;
}

.img-graph {
  width: 30rem;
  height: 15rem;
}

.numbers-container p {
  margin-bottom: 1.4rem;
}

.legend {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 0.5rem;
  margin-top: 2rem;
}

.research {
  display: flex;
  justify-content: space-between;
}

.span- {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #fdac15;
  color: #fdac15;
}

.users-new {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.view {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border: none;
  background-color: #fffefd;
}

.view:hover {
  cursor: pointer;
}

.new-user-info {
  margin-bottom: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.forward-icon {
  font-size: 1rem;
}

.manage-users-d {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 1rem;
  font-size: 18px;
  color: var(--primary-color);
  text-decoration: none;
}

/* ---manage users--- */

.my-container {
  margin-left: 10%;
  margin-top: 10%;
}

.userinfo {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08);
  padding: 0.8rem;
  border: 0.5px solid #ded9d9;
  border-radius: 5px;
}

.newuser {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.usericon {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-user-section {
  width: 40%;
}

.nav-column {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.nav-column p {
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 20px;
  color: var(--dark-theme);
  width: 10rem;
}

.user- {
  display: flex;
  gap: 1rem;
}

.user- > div {
  width: 10rem;
}

.email--,
.user- > .email {
  min-width: 16rem;  
}

.quic-actions {
  background-color: var(--background-color);
  border: 1px solid #fdac15;
  padding: 0.2rem;
  border-radius: 5px;
  color: #fdac15;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.top-sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  font-size: 16px;
}

.filters {
  display: flex;
  gap: 1rem;
}